{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <div class="container mt-5">
        <p><img class="rounded-circle" src="https://basketball-prod.s3.amazonaws.com/.media/{{ user.img_profile }}" alt="" width="100px" height="100px"></p>
        <p>아이디 : {{ user.username }}</p>
        <p>전화번호 : {{ user.phone_number }}</p>
        <p>이메일 : {{ user.email }}</p>
        <p>성별 : {{ user.get_gender_display }}</p>
        <p>포지션 : {{ user.get_main_position_display }}</p>
        <p>자기소개 : {{ user.introduce }}</p>
        <a href="{% url 'change-profile' %}">
            <button class="btn btn-primary">정보 수정</button>
        </a>
    </div>

{% endblock %}